
<main>

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Student Room</h1>
        <p class="lead text-muted">Student Room is all about trying to help students find accomadation near their college or university. View our listings to get started.</p>
        <p>
          <a routerLink="/listings" class="btn btn-primary my-2">View Listings</a>
        </p>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img src="assets\img\sligo.jpg">
            <div class="card-body">
              <p class="card-text">IT Sligo is one of Ireland’s leading third level institutions for over 50 years and a great destination to get a high quality education.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="assets\img\dcu.jpg">

            <div class="card-body">
              <p class="card-text">DCU is the perfect place to start your career journey. It ranks first in Ireland and 19th in the world for graduate employability.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="assets\img\maynooth.jpg">

            <div class="card-body">
              <p class="card-text">Maynooth University is an internationally recognised institution located 25 kilometres outside of Dublin, Ireland, and is the nation’s fastest growing university.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="assets\img\limerick.png">

            <div class="card-body">
              <p class="card-text">The University of Limerick (UL), is located on the west coast of Ireland along the picturesque River Shannon and has state-of-the-art teaching and research facilities.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="assets\img\nui-galway.jpg">

            <div class="card-body">
              <p class="card-text">With over 18,000 students and more than 2,500 staff, NUI Galway has a distinguished reputation for teaching and research excellence.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="assets\img\letterkenny-institute-of-technology.jpg">

            <div class="card-body">
              <p class="card-text">Letterkenny Institute of Technology (LYIT) fosters one of the most progressive learning environments in Ireland.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
          </div>
        </div>

    </div>
  </div>




