
<main>
  <img src="assets/img/house1.jpg" class="img-fluid" alt="Responsive image">
  
  <section class="text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Mountview Hotel</h1>
        <p class="lead text-muted">Mountview Hotel's official website for all your hotel room bookings and pricing</p>
        <p>
          <a routerLink="/listings" class="btn btn-primary my-2">View Listings</a>
        </p>
      </div>
    </div>
  </section>
