<div class="card mb-4">
    <img [src]="listing.payload.imageUrl" class="img-fluid">
    <div class="card-body">
        <div class="small text-muted">{{listing.payload.price | currency: "EUR"}}</div>
        <h2 class="card-title">{{listing.payload.location}}</h2>
        <p class="card-text">{{listing.payload.shortDesc}}</p>
        <div class="d-grid gap-2">
            <a class="btn btn-primary" type="button" (click)="openListing(listing)">View Listing</a>
            <a class="btn btn-danger" type="button" (click)="deleteListing(listing)">Delete Listing</a>
        </div>
    </div>
</div>