<br>
<br>
<button mat-raised-button color="primary" routerLink="/home">
    <mat-icon>home</mat-icon>
    <span>Home</span>
</button>

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <div class="pt-3 pb-4 mb-3 border-bottom">
      <h1 class="h2">User Dashboard</h1>
    </div>
    <div class="row" *ngIf="(user | async)">
      <div class="col-md-12">
        <div class="media">
          <div class="media-body">
            <h1>Hello: <strong>{{ (user | async)?.displayName }}</strong></h1>
            <p>Email: <strong>{{ (user | async)?.email }}</strong></p>
            <p>Account Type: <strong>{{ (user | async)?.accountType }}</strong></p>
            <p>Email Verification Status: <strong>{{ (afAuth.user | async)?.emailVerified }}</strong></p>        
          </div>
        </div>
      </div>
    </div>

