<section>
    <button mat-raised-button color="primary" routerLink="/login">
        <span>Login</span>
    </button>
    <button mat-raised-button color="primary" (click)="logout()">
        <span>Log out</span>
    </button>
    <button mat-raised-button color="primary" routerLink="/signup">
        <span>Sign up</span>
    </button>
    <button mat-raised-button color="primary" routerLink="/forgot-password">
        <span>Forgot password</span>
    </button>
    <button mat-raised-button color="primary" routerLink="/verify-email">
        <span>Resend email verification</span>
    </button>
</section>

<br>

<section>
    <button mat-raised-button color="primary" routerLink="/dashboard">
        <span>Dashboard</span>
    </button>
    <button mat-raised-button color="primary" routerLink="/admin">
        <span>Admin Dashboard</span>
    </button>
</section>

<br>

<mat-card *ngIf="(afAuth.user | async)">
    <span>User is logged in</span>
</mat-card>
<mat-card *ngIf="!(afAuth.user | async)">
    <span>User is not logged in</span>
</mat-card>

