<html>
<body>
<div class="container">
    <div class="row height d-flex justify-content-center align-items-center">
        <div class="col-md-6">
            <div class="form"> <i class="fa fa-search"></i> <input type="text" class="form-control form-input" placeholder="Search anything..."> <span class="left-pan"><i class="fa fa-microphone"></i></span> </div>
        </div>
    </div>
</div>


</body>


<section id="gallery">
    <div class="container">
      <div class="row">
      <div class="col-lg-4 mb-4">
      <div class="card">
        <img src="https://ourcrossings.files.wordpress.com/2019/04/31494448_10155323569571954_727114134734241792_n.jpg?w=750" alt="" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Sligo</h5>
          <p class="card-text">The town of Sligo, in the north of Ireland, straddles the Garavogue River where it meets Sligo Bay. It’s known for its literary heritage and rugged countryside. Ruined medieval Sligo Abbey has carved tombs and a 15th-century altar. Sligo County Museum displays memorabilia of local poet W.B.</p>
         <a href="" class="btn btn-outline-success btn-sm">View Listings</a>
          <a href="" class="btn btn-outline-danger btn-sm"><i class="far fa-heart"></i></a>
        </div>
       </div>
      </div>
    <div class="col-lg-4 mb-4">
    <div class="card">
        <img src="https://www.irishtimes.com/polopoly_fs/1.4466479.1611416781!/image/image.jpg_gen/derivatives/ratio_1x1_w1200/image.jpg" alt="" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Limerick</h5>
          <p class="card-text">Limerick is a major city in the Republic of Ireland, set in Munster province in the south of the country. Its compact old town is known for the medieval-era St. Mary’s Cathedral and St. John’s square,</p>
         <a href="" class="btn btn-outline-success btn-sm">View Listings</a>
          <a href="" class="btn btn-outline-danger btn-sm"><i class="far fa-heart"></i></a>
        </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
      <div class="card">
        <img src="https://images.ireland.com/media/Images/galway/6fc964e86ea345409536504e19add100.jpg" alt="" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Galway</h5>
          <p class="card-text">Galway, a harbour city on Ireland’s west coast, sits where the River Corrib meets the Atlantic Ocean. The city’s hub is 18th-century Eyre Square, a popular meeting spot surrounded by shops and traditional pubs that often offer live Irish folk music.</p>
         <a href="" class="btn btn-outline-success btn-sm">View Listings</a>
          <a href="" class="btn btn-outline-danger btn-sm"><i class="far fa-heart"></i></a>
        </div>
       </div>
      </div>
    </div>
  </div>
  </section>
  </html>
